environment: development
name: est-mit-payment
namespace: ffc-rpa
workstream: ffc-rpa
image: est-mit-payment

labels: {}

aadPodIdentity: true

appInsights:
  key:

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

containerConfigMap:
  name: est-mit-payment-config-map

containerSecret:
  name: est-mit-payment-container-secret
  type: Opaque

deployment:
  restartPolicy: Always
  priorityClassName: low
  replicas: 1
  minReadySeconds: 5
  imagePullSecret:

container:
  imagePullPolicy: IfNotPresent
  requestMemory: 120Mi
  requestCpu: 5m
  limitMemory: 120Mi
  limitCpu: 120m
  port: 3000
  functionsWorkerRuntime: dotnet-isolated
  azureWebJobsSecretStorageType: files
  azureWebJobsStorage: secret
  comPlusEnableDiagnostics: 0
  serviceBusConnectionString__fullyQualifiedNamespace: value-from-app-config-service
  serviceBusConnectionString__credential: value-from-app-config-service
  serviceBusQueueName: value-from-app-config-service
  queueConnectionString__credential: value-from-app-config-service
  queueConnectionString__queueServiceUri: value-from-app-config-service
  eventQueueName: value-from-app-config-service
  paymentQueueName: value-from-app-config-service
  
livenessProbe:
  path: /healthz
  port: 3000
  initialDelaySeconds: 60
  periodSeconds: 30
  failureThreshold: 3

readinessProbe:
  path: /healthy
  port: 3000
  initialDelaySeconds: 60
  periodSeconds: 30
  failureThreshold: 3