{{- include "ffc-helm-library.container-config-map" (list . "est-mit-payment.config-map") -}}
{{- define "est-mit-payment.config-map" -}}
data:
  PORT: {{ quote .Values.container.port }}
  APPINSIGHTS_CLOUDROLE: {{ quote .Values.name }}
  FUNCTIONS_WORKER_RUNTIME: {{ quote .Values.container.functionsWorkerRuntime }}
  QueueConnectionString__queueServiceUri: {{ quote .Values.container.queueConnectionString__queueServiceUri }}
  QueueConnectionString__credential: {{ quote .Values.container.queueConnectionString__credential }}
  ServiceBusConnectionString__fullyQualifiedNamespace: {{ quote .Values.container.serviceBusConnectionString__fullyQualifiedNamespace }}
  ServiceBusConnectionString__credential: {{ quote .Values.container.serviceBusConnectionString__credential }}
  ServiceBusQueueName: {{ quote .Values.container.serviceBusQueueName }}
  EventQueueName: {{ quote .Values.container.eventQueueName }}
  PaymentQueueName: {{ quote .Values.container.paymentQueueName }}
{{- end -}}